* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.801);
}

.container {
  background-color: rgba(91, 91, 244, 0.872);
  color: white;
  padding: 4rem;

  background-image: url("/assests/background.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-x: 100%;
  background-position-y: -152px;
}

.heading {
  background-color: transparent;
  margin: 0rem;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.content {
  background-color: transparent;
  font-size: 2rem;
}

/**image styling */
.container img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 5px solid white;
  vertical-align: middle;
}

img + img {
  margin-left: -1.5rem;
}
