* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding-top: 1px;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
}

li {
  list-style-type: none;
}

/* ->header section  */
.navbar {
  height: 5vh;
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 1.1rem;
}

/* ->main section  */
.main-text h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 3.2rem;

  text-align: justify;

  position: relative;
  left: 100px;

  margin-block: 2rem;
}

/* ->section   */
.brands {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding-right: 2rem;
}

.brands p {
  line-height: 1.5;
  position: relative;
  left: 100px;
}

.brands .box {
  max-width: 30%;
  width: 100%;
  position: relative;
  top: 2rem;
}

.brands .box .box-text {
  padding-block: 0.6rem;
  display: flex;
  justify-content: space-between;

  cursor: pointer;

  font-size: 1rem;
}
.brands .box .box-text:hover span {
  text-decoration: underline;
}
.brands .box .box-text:hover i {
  display: initial;
}

.brands .box .box-text i {
  transform: rotate(40deg);
  font-size: 1rem;
  display: none;
}

/* ->footer image  */
.model-img {
  /* width: 100%; */
  height: 50%;
  background-image: url("https://media.istockphoto.com/id/1423390535/photo/happy-mixed-race-woman.jpg?s=612x612&w=0&k=20&c=zOs-zMi6U6DJ6XGt0lk3SGj9TlPAT3Wmf_Em_rwGxYU=");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: -85px;
  background-position-x: center; */
  background-position: 0 20%;
}
