* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding-top: 1px;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
}

li {
  list-style-type: none;
}

/* ->header section  */
.navbar {
  height: 5vh;
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 1.1rem;
}

/* ->main section  */
.main-text h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 3.2rem;

  text-align: justify;

  position: relative;
  left: 100px;

  margin-block: 2rem;
}

/* -> brands section   */
.brands {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding-right: 2rem;
}

.brands p {
  line-height: 1.5;
  position: relative;
  left: 100px;
}

.brands .box {
  max-width: 30%;
  width: 100%;
  position: relative;
  top: 2rem;
}

.brands .box .box-text {
  padding-block: 0.6rem;
  display: flex;
  justify-content: space-between;

  cursor: pointer;

  font-size: 1rem;
}
.brands .box .box-text:hover span {
  text-decoration: underline;
}
.brands .box .box-text:hover i {
  display: initial;
}

.brands .box .box-text i {
  transform: rotate(40deg);
  font-size: 1rem;
  display: none;
}

/* ->footer image  */
.model-img {
  height: 50%;
  background-image: url("https://media.istockphoto.com/id/1423390535/photo/happy-mixed-race-woman.jpg?s=612x612&w=0&k=20&c=zOs-zMi6U6DJ6XGt0lk3SGj9TlPAT3Wmf_Em_rwGxYU=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 20%;
}

/*-> media queries  */

@media (max-width: 800px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    justify-content: center;
  }

  /* ->main section  */
  .main-text h1 {
    font-size: 3rem;
    /* font-weight: 600; */
    position: static;

    margin-block: 2rem;
    padding-left: 2rem;
  }
  /* -> brands section   */
  .brands {
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    width: 100%;
    padding-inline: 2rem;
    margin-bottom: 2rem;
  }

  .brands p {
    position: static;
    width: 100%;
    font-weight: 500;
  }

  .brands .box {
    position: static;
    max-width: 100%;
  }
  .brands .box .box-text {
    padding-block: 0.7rem;
  }

  .model-img {
    height: 34%;
  }
}

@media (max-width: 480px) {
  .navbar ul {
    font-size: 16px;
  }
  .main-text h1 {
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 0.5rem;
  }
  .brands {
    font-size: 14px;
    padding-inline: 0.5rem;
  }

  .brands .box .box-text {
    font-size: 14px;
  }

  .model-img {
    height: 45%;
  }
}
