* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar {
  margin: 2rem;
  max-width: 600px;
}

input {
  width: 30%;
  transition: 0.5s;
  border-color: blue;
  padding: 1rem;
}

input:focus {
  width: 100%;
}

/*-> accessing placeholder  */

input::placeholder {
  font-weight: 900;
  display: inline-block;
  /* padding: 1rem; */
}
input:focus::placeholder {
  color: transparent;
}
