* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 160px;
  color: white;
  font-weight: 600;
}

.content h1:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: white;
  border: 2px solid white;
  font-size: 24px;
  padding: 14px 50px;
  margin-top: 1rem;
}

.content a:hover {
  background-color: white;
  color: black;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
