* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
}
.wrapper {
  width: 1200px;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 5rem 0 0;
}

/* ->left box   */

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-box .text {
  font-size: 5.5rem;
  font-weight: 500;
  margin-bottom: 12rem;
}

.text-box .box .colors {
  margin-bottom: 2rem;
  display: flex;
  width: min-content;

  border: 1px solid black;
  border-radius: 1rem;

  padding: 5px 8px;
}
.text-box .box .colors .txt {
  margin-right: 0.5rem;
  font-size: 14px;
}

.text-box .box .colors .circle {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 0.2rem;
}

.text-box .box .colors .one {
  background-color: brown;
}
.text-box .box .colors .two {
  background-color: black;
}

.text-box .box h3 {
  margin-bottom: 0.5rem;
}

.text-box .box .para {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

/* ->right-box */
.img-box {
  position: relative;
  width: 25%;
}

.img-box .rotate {
  display: flex;
  gap: 0.2rem;
  font-weight: 800;
  position: absolute;
  left: -2rem;
  bottom: 0rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.img-box .img {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.img-box .img img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.img-box .img p {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.img-box .img .ratings {
  font-size: 12px;
}
.img-box .img p i {
  font-size: 0.5rem;
  color: gold;
}

.img-box .add {
  position: absolute;
  bottom: 15rem;
  right: -2rem;
  padding: 2.15rem 0.5rem;

  border: 1px solid black;
  border-radius: 50%;

  background-color: black;
  color: white;

  font-size: 14px;
}

/*-> media query */

@media (max-width: 800px) {
  body {
    align-items: stretch;
  }
  .container {
    align-items: center;
    flex-direction: column;
    height: auto;
    gap: 5rem;
    padding: 0;
  }

  .text-box .text {
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .text-box .box {
    margin-top: 2rem;
  }
  .text-box .box .colors {
    margin-bottom: 1rem;
  }
  .text-box .box .colors .txt {
    font-size: 12px;
    font-weight: 600;
  }

  /* -> right side  */

  .img-box {
    max-width: 320px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .img-box .rotate {
    font-weight: 700;
    font-size: 20px;
    left: 0;
    top: -24px;
    transform: rotate(0deg);
  }

  .img-box .img {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .img-box .img img {
    height: 400px;
  }

  .img-box .img .ratings {
    font-size: 14px;
  }
  .img-box .img p i {
    font-size: 0.7rem;
  }

  .img-box .add {
    bottom: 23.5rem;
  }
}
