* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 1px;
}

li {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-block: 2rem;
}

/* ->header  */
header {
  margin-bottom: 3rem;
}

header .first {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

header .first .circles {
  display: flex;
}
header .first .menu ul {
  display: flex;
  gap: 2rem;
}

header .first .menu .ru {
  padding-left: 5px;
  color: gray;
}

header .first .circles .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}
header .second {
  margin-top: 1.5rem;
  font-size: 14px;
  max-width: 100%;
}
header .second ul {
  display: flex;
  gap: 3rem;
}

/* ->main  */

main {
  display: flex;
  overflow-x: auto;
}

main::-webkit-scrollbar {
  height: 7px;
  background-color: transparent;
}
main::-webkit-scrollbar-thumb {
  background-color: brown;
}

.title {
  width: 80vw;
  flex-shrink: 0;
  margin-bottom: 3rem;
}
.title:last-child .text {
  display: flex;
  justify-content: center;
}

.title:last-child {
  width: 100%;
  text-align: end;
}

.title .text {
  display: flex;
  gap: 4rem;
  /* font-size: 1rem; */
}

.title .text .text2 {
  color: gray;
}

.title h1 {
  display: inline-block;

  font-size: 6rem;
  line-height: 7rem;
  font-weight: 400;
  margin-left: 5rem;
}
main .title:nth-child(2) h1 {
  white-space: nowrap;
}

/* ->footer  */

footer .img {
  display: flex;
  overflow-x: auto;
}

footer .img::-webkit-scrollbar {
  background-color: transparent;
}

footer .img img {
  width: 100vw;
  height: 350px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

/* ->responsiveness */

@media (max-width: 700px) {
  header .first .menu ul li {
    display: none;
  }

  #v-1,
  #v-2 {
    display: initial;
  }

  header .second {
    font-size: 2.2vw;
    font-weight: 500;
  }
  header .second ul {
    gap: 1rem;
  }

  .title .text {
    font-size: 3vw;
    gap: 4vw;
  }

  .title h1 {
    font-size: 13vw;
    line-height: 15vw;
    margin-left: 2vw;
  }
}
