* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 1px;
}

li {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  /* background-color: antiquewhite; */
  margin-inline: auto;
  padding-inline: 1rem;
  margin-top: 2rem;
}

/* ->header  */
header {
  margin-bottom: 3rem;
}

header .first {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

header .first .circles {
  display: flex;
}
header .first .menu ul {
  display: flex;
  gap: 2rem;
}

header .first .menu .ru {
  padding-left: 5px;
  color: gray;
}

header .first .circles .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}
header .second {
  margin-top: 1.5rem;
  font-size: 14px;
  max-width: 100%;
}
header .second ul {
  display: flex;
  gap: 3rem;
}

/* ->main  */

main {
  /* background-color: aqua; */
  display: flex;
  overflow-x: auto;
}

main::-webkit-scrollbar {
  height: 7px;
  background-color: transparent;
}
main::-webkit-scrollbar-thumb {
  background-color: brown;
}

.title {
  width: 80vw;
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.title .text {
  display: flex;
  gap: 4rem;
  /* font-size: 1rem; */
}

.title .text .text2 {
  color: gray;
}

.title h1 {
  display: inline-block;

  font-size: 6rem;
  line-height: 7rem;
  font-weight: 400;
  margin-left: 5rem;
}
main .title:nth-child(2) h1 {
  white-space: nowrap;
}

/* ->footer  */
footer {
  flex-grow: 1;
}
footer .img {
  display: flex;
  overflow-x: auto;
}

footer .img::-webkit-scrollbar {
  background-color: transparent;
}

footer .img img {
  width: 100vw;
  height: 320px;
  object-fit: cover;
  flex-shrink: 0;
}
