main .shimmer-card {
  --shimmer-color: rgb(199, 199, 199);
}

main.dark .shimmer-card {
  --shimmer-color: rgb(68, 88, 105);
}

/*-> list of cards  */

.shimmer-card {
  height: 400px;
  background-color: var(--elements-color);
}

.shimmer-image {
  height: 200px;
  width: 100%;
  background-color: var(--shimmer-color);
}

.card-text .s-title {
  width: 150px;
  height: 30px;
  background-color: var(--shimmer-color);
}
.card-text .b {
  height: 15px;
  background-color: var(--shimmer-color);
}

/*-> card details  */

main.details {
  --elements-color: rgb(199, 199, 199);
}

main.dark.details {
  --elements-color: hsl(209, 23%, 22%);
}

.s-image {
  align-content: center;
  width: 400px;
  height: 200px;
  background-color: var(--elements-color);
  /* border-color: var(--elements-color); */
}

.s-heading {
  height: 40px;
  width: 200px;
  background-color: var(--elements-color);
}

.s-text b {
  display: block;
  width: 400px;
  height: 20px;
  background-color: var(--elements-color);
}
