* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  padding-top: 1px;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; /* ! adjust horizontal margin of the layout */
  padding-inline: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #424242;
}

p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #387ed1;
  font-size: 1rem;
  font-weight: 500;

  &:hover {
    color: #424242;
  }
}

button {
  padding: 10px 30px;
  font-size: 1.25rem;
  color: white;
  background-color: #387ed1;

  /* outline: none; */
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #424242;
  }
}

/*-> navbar section  */
.navbar {
  width: 100%;
  height: 10vh;
  background-color: #fefefe;

  position: fixed;
  top: 0;
  z-index: 1000;

  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
}
.navbar .container {
  /* padding-inline: 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 20px;
  width: 130px;
}
.logo img {
  width: 100%;
}

.menu ul {
  /* width: 100%; */
  list-style-type: none;
  display: flex;

  align-items: center;
  gap: 2.5rem;
}

.menu ul li a {
  text-decoration: none;
  color: #666;
}

.nav-bar {
  cursor: pointer;
  font-size: 1.3rem;
}

/*->  hero section   */
.hero-section {
  margin-top: 20vh;
  color: #424242;
  margin-bottom: 7rem;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  height: 410px;
  width: 975px;
  margin-bottom: 2rem;
}

.main-image img {
  width: 100%;
}

.hero-section .container h3 {
  font-size: 1.25rem;
  margin: 1rem 0 2rem;
  font-weight: 400;
}

/* ->whole ecosystem */

.ecosystem .container .wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 5rem;
  color: #424242;
  /* word-spacing: 2px; */
  line-height: 1.8;
}
.ecosystem .container .wrapper .text {
  /* height: 100%; */
  /* flex-basis: 40%; */
  width: 40%;
  /* padding-right: 5rem; */
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  justify-content: space-between;
}

.ecosystem .container .wrapper .text .text-box h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
.ecosystem .container .wrapper .text .text-box p {
  margin-top: 0.5rem;
}

.ecosystem .wrapper .investment-img {
  width: 60%;
  /* width: auto; */
}

.ecosystem .wrapper .investment-img .img img {
  width: 100%;
}
.ecosystem .wrapper .investment-img .links {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin-block: 1rem;
}

#demo-link {
  margin-left: 3rem;
}

.ecosystem .container .newspaper-img {
  display: flex;
  justify-content: center;
}
.ecosystem .container .newspaper-img img {
  margin-top: 3rem;
}

/* ->unbeatable pricing  */
.unbeatable-pricing {
  margin-block: 7rem;
}

.unbeatable-pricing .container {
  display: flex;
}
.unbeatable-pricing .container .text-box-price {
  max-width: 432px;
}

.unbeatable-pricing .container .text-box-price p {
  margin: 1.5rem 0 1rem;
}

.unbeatable-pricing .container .pricing-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  font-size: 10px;
}

.unbeatable-pricing .container .pricing-img-box img {
  width: 120px;
}
.unbeatable-pricing .container .pricing-img-box .pricing-img {
  display: flex;
  align-items: center;
}
.unbeatable-pricing .container .pricing-img-box .pricing-img span {
  position: relative;
  left: -0.5rem;
  top: 0.5rem;
}

/*-> free education */
.free-education {
  margin-bottom: 7rem;
}

.free-education .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.free-education .container .varsity-img {
  width: 40%;
}
.free-education .container .text-box .text {
  margin-bottom: 3rem;
}
.free-education .container .text-box h1 {
  margin-bottom: 1.25rem;
}
.free-education .container .text-box p {
  margin-bottom: 1.25rem;
}

/*-> Zerodha Account  */
.open-account {
  margin-bottom: 5rem;
}

.open-account .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* ->footer  */

#footer {
  padding: 2rem 0 1rem;
  background-color: #fbfbfb;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
}

#footer .container .info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#footer .container .info img {
  max-width: 150px;
  margin-bottom: 1rem;
}

#footer .container .social-media {
  color: #666;
}

#footer .container .social-media span {
  font-size: 1.3rem;
  margin-right: 1rem;

  &:hover {
    color: #387ed1;
  }
}

#footer hr {
  margin-block: 0.5rem;
}

#footer .container .info .copyright {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  line-height: 2;
}

#footer .info h3 {
  color: #424242;
  margin-bottom: 1rem;
}
#footer .info p {
  margin-bottom: 0.5rem;
  font-weight: 500;

  &:hover {
    color: #387ed1;
  }
}

#footer .guidelines p {
  font-size: 0.7rem;
  color: #9b9b9b;
  margin-bottom: 0.8rem;
  /* line-height: 1.5rem; */
}
#footer .guidelines a {
  font-size: 0.7rem;
}

#footer .guidelines .links {
  text-align: center;
  margin-top: 1rem;
}

#footer .guidelines .links a {
  font-size: 0.8rem;
  color: #9b9b9b;
  margin-right: 1rem;

  &:hover {
    color: #387ed1;
  }
}
